<!-- ================ Subscribe section start ================= --> 
<section class="subscribe-position">
	<div class="container">
		<div style="display: none;" id="sub-alert" class="" role="alert">
			
		</div>
		<div class="subscribe text-center">

			<h3 class="subscribe__title">Получайте новые обновления первыми</h3>
			<p>Мы рады предложить вам возможность подписаться на наши обновления и быть в курсе всех наших последних продуктов и рекламных акций.</p>
				<div class="form-group ml-sm-auto">
					<input type="email" class="form-control mb-1 sub-input" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email '" >
					<div class="info"></div>
				</div>
				<button class="button sub-btn button-subscribe mr-auto mb-1">Подписаться</button>
		</div>
	</div>
</section>
<!-- ================ Subscribe section end ================= -->

